#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.follow-button{
  background-color: rgb(131, 87, 214);
  color: white;
  border-radius: 25px;
  padding: 9px 13px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 6rem;
 
  transition: width 1.1s ease 0.6s;
}

.follow-button.follow-clicked{
  width: 2.9rem;
  animation: changeGold 0.9s ease forwards;
}

@keyframes changeGold {
  0%   { background-color: rgb(225, 209, 158) }
  90%   { background-color: rgb(228, 202, 117)  }
  100%   { background-color: rgb(83, 80, 80)  }
}


.follow-button div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 550;

}

.follow-default:hover{
background-color: rgb(110, 73, 183);
}

.follow-button:hover{
  background-color: rgb(93, 66, 174);
  cursor: pointer;
}


.heart{
  stroke:white;
  fill: none;
  stroke-width: 2.5px;
  width: 16px;
  transition: transform 0.3s;
  animation: bounceIn 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bounceIn {
  0%   { transform: scale(0); opacity: 0; }
  40%  { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

.follow-button:hover .heart{
  transform: scale(1.15);
  fill:white;
}

.follow-clicked .follow-label{
  
  animation:  disappear 0.9s ease 0.6s forwards;

}

@keyframes disappear{
  0%   { opacity: 1; }  
  40%   { opacity: 0; } 
  90%  { opacity: 0; display: none;}
  100%  { display: none; opacity: 0;}
}

.follow-clicked:hover .heart{
  transform: none;

}

.follow-clicked .heart{
  fill:white;
  animation: reappear 0.9s ease forwards;
}

@keyframes reappear{
  
  0%   {  fill: black; stroke: black;}
  40%   { fill: rgb(83, 80, 80); stroke: rgb(83, 80, 80);}  
  100%  {  fill:white;}
}

.heart-break{
  width: 16px;
  padding: 0;
  margin: 0;
}
.follow-button .heart-break{
  display: none;
}

.follow-button.follow-clicked:hover .heart{
  display: none;

}

.follow-button.follow-clicked:hover .heart-break{
  display:inline-block;
}