#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.follow-button{
  background-color: rgb(131, 96, 162);
  color: white;
  border-radius: 25px;
  padding: 8px 15px;
  border-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.follow-button:hover{
  background-color: rgb(107, 86, 125);
  
}


.heart{
  width: 18px;
}